main {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#header {
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#header h2 {
  font: normal normal normal 100px/1.4em 'eb garamond',serif;
  color: #302D2D;
  margin: 0;
}

@media screen and (min-width: 630px) {
  #header h2 {
    font: normal normal normal 210px/1.4em 'eb garamond',serif;
  }
}

#header h3 {
  font: normal normal normal 30px/1.4em 'eb garamond',serif;
  color: #302D2D;
  margin: 0 15px;
}

@media screen and (min-width: 630px) {
  #header h3 {
    font: normal normal normal 50px/1.4em 'eb garamond',serif;
    margin: 0 15px;
  }
}

#header::after {
  content: "";
  background-image: url("../imagenes/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

.signo {
  color: #00D646;
}

.punto {
  font-size: 50px;
}

#sobreMi {
  background-color: #333B50;
  width: 80%;
  height: auto;
  margin-top: -100px;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  box-shadow: 10px 10px 122px 3px rgba(0, 0, 0, 0.46);
}

@media screen and (min-width: 630px) {
  #sobreMi {
    width: 50%;
  }
}

@media screen and (min-width: 1140px) {
  #sobreMi {
    width: 30%;
  }
}

#sobreMi img {
  margin-top: 20px;
  margin-bottom: 18px;
  border-radius: 50%;
  width: 90px;
  height: 90px;
}

#sobreMi p {
  margin: 20px;
  text-align: justify;
  color: white;
}

@media screen and (min-width: 630px) {
  #sobreMi p {
    font-size: 20px;
  }
}

#skills {
  height: 100vh;
  width: 100%;
  margin-top: -150px;
  background-image: url("../imagenes/imagen2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#skills #muestraHabilidades {
  margin-top: 200px;
  text-align: center;
}

#skills #muestraHabilidades h2 {
  font: normal normal normal 42px/1.4em sans-serif;
  font-weight: bold;
  color: #333B50;
}

@media screen and (min-width: 630px) {
  #skills #muestraHabilidades h2 {
    font: normal normal normal 80px/1.4em sans-serif;
  }
}

.habilidad {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
}

.habilidad p {
  text-align: right;
  margin-right: 15px;
  color: #333B50;
}

.habilidad div {
  background-color: #00D646;
  width: 0%;
  height: 18px;
}

#proyectos {
  min-height: 100vh;
  width: 100%;
  text-align: center;
}

#proyectos h2 {
  font: normal normal normal 42px/1.4em sans-serif;
  font-weight: bold;
  color: #333B50;
}

@media screen and (min-width: 630px) {
  #proyectos h2 {
    font: normal normal normal 80px/1.4em sans-serif;
  }
}

#proyectos .proyecto {
  margin-bottom: 10px;
}

@media screen and (min-width: 630px) {
  #proyectos .proyecto h3 {
    font-size: 35px;
  }
}

#proyectos .proyecto img {
  width: 80%;
  height: 200px;
  box-shadow: 10px 10px 122px 3px rgba(0, 0, 0, 0.46);
}

#proyectos .proyecto img:hover {
  opacity: 0.8;
}

@media screen and (min-width: 1140px) {
  #proyectos .proyecto img {
    height: 300px;
  }
}

@media screen and (min-width: 630px) {
  #proyectos #contenidoProyectos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1140px) {
  #proyectos #contenidoProyectos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

aside {
  display: none;
}

@media screen and (min-width: 630px) {
  aside {
    display: block;
    position: fixed;
    top: 50vh;
    right: 0;
  }
  aside .btnAside {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 20px;
    background-color: #00D646;
  }
}

footer {
  display: flex;
  flex-flow: column;
  background: #262626;
  text-align: center;
  height: 200px;
  width: 100%;
}

footer p {
  color: #fff;
  margin: 25px 5px 0px;
  padding-top: 20px;
}

footer #correo {
  text-decoration: none;
  margin-top: 15px;
  color: white;
}

footer #correo:hover {
  text-decoration: underline;
}

footer #iconos {
  margin: auto;
  text-align: center;
}

footer #iconos a {
  color: #fff;
  margin: 0px 5px;
  opacity: 0.2;
  text-decoration: none;
}

footer #iconos #twitter:hover {
  color: #04a6db;
  opacity: 1;
}

footer #iconos #facebook:hover {
  color: #02309b;
  opacity: 1;
}

footer #iconos #github:hover {
  color: #9f00ff;
  opacity: 1;
}

footer #iconos #linkedin:hover {
  color: red;
  opacity: 1;
}
