*{
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #E1F5FE;
}

header{
    text-align: center;
    background-color: #81D4FA;
    padding: 20px 0;
}

h1{
    margin: 0px;
}

nav{
    background-color: #B3E5FC;
}

nav ul{
 text-align: center;
 margin: 0;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 20px 50px;
    margin: 0 50px;
}

nav ul li:hover{
    background-color: #4FC3F7;

}

nav ul li a{
    text-decoration: none;
    color: black;
}

main{
    width: 80%;
}

main section article header{
    color: white;
    padding: 0px;
    font-size: 30px;
}

h4{
    padding: 5px 0;
    margin: 0;
    text-align: center;
}

main section article{
    margin: 10px;
    padding: 30px 60px;
    width: 350px;
    height: 350px;
    display: inline-block;
    background-color: #81D4FA;
    box-shadow: 10px 10px 5px #888888;
}

main, aside{
    display: inline-block;
}

aside{
    vertical-align: top;
    width: 19%;
}

aside article ul li{
    list-style: none;
    padding: 12px;
}

aside article{
    margin: 10px;
    min-height: 400px;
}

aside article header{
    background-color: transparent;
}

aside article div{
    display: inline-block;
}

#publicidad {
    text-align: center;
}

#publicidad div{
    width: 40%;
    padding: 30px 10px;
    border: 1px solid;
    margin: 5px;
}

footer{
    text-align: center;
    background-color: #81D4FA;
    height: auto;
}

footer div{
    display: inline-block;
    width: 48%;
}

footer p{
    margin: 0;
    padding: 0;
    font-size: 40px;
}

footer #nombre{
    font-size: 30px;
    text-align: left;
}

footer #iconos{
    text-align: right;
}

footer #iconos a {
    color: #fff;
    margin: 0px 20px; 
    text-decoration: none;
}

footer #iconos #twitter:hover {
    color: #04a6db;
}

footer #iconos #facebook:hover {
    color: #02309b;
}

footer #iconos #github:hover {
    color: #9f00ff;
}

footer #iconos #gplus:hover {
    color: #DC4A38;
}